<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<!-- Режим работы приложения -->
		<add key="AppMode" value="Development"/> <!--Production-->
		<add key="EnableLogging" value="true"/>
	</appSettings>

	<connectionStrings>

		<!-- Локальная разработка -->
		<add name="MarketplaceDB_Dev"
			 connectionString="Data Source=FAFLA666\SQLEXPRESS;Initial Catalog=MarketplaceDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient"/>

		<!-- Продакшен режим (пока заглушка) -->
		<add name="MarketplaceDB_Prod"
			 connectionString="Data Source=SERVER_NAME;Initial Catalog=MarketplaceDB;User Id=appUser;Password=123;"
			 providerName="System.Data.SqlClient"/>

	</connectionStrings>

</configuration>